/** Colors *******************************************/
$bg: #1e1e2e;
$bg-alt: #181825;
$fg: #cdd6f4;
$fg-alt: #a6adc8;
$red: #f38ba8;
$green: #a6e3a1;
$yellow: #f9e2af;
$orange: #fab387;
$blue: #89b4fa;
$purple: #cba6f7;
$cyan: #89dceb;
$gray: #585b70;
$gray-alt: #313244;
$lavender: #b4befe;

@import './Main/eww.scss';
