@import "config.rasi"

configuration {
    modi:                       "";
}

window {
    width:                      450px;
    children:                   [ "inputbar", "message", "listview" ];
}

inputbar {
    padding:                    60px 30px;
}

listview {
    columns:                    1;
    lines:                      10;
    border-radius:              0 0 14px 14px;
}