[submodule "assets/backgrounds"]
	path = config/wallpaper/Pictures/backgrounds
	url = git@github.com:Uyanide/backgrounds.git
[submodule "assets/yazi-catppuccin"]
	path = assets/yazi-catppuccin
	url = https://github.com/catppuccin/yazi.git
[submodule "config/ghostty/.config/ghostty/shaders"]
	path = config/ghostty/.config/ghostty/shaders
	url = https://github.com/0xhckr/ghostty-shaders.git
