@import "config.rasi"

configuration {
    modi:                       "";
}

window {
    width:                      500px;
    children:                   [ "inputbar", "message", "listview" ];
}

inputbar {
    padding:                    80px 40px;
}

listview {
    columns:                    1;
    lines:                      10;
    border-radius:              0 0 14px 14px;
}