* {
    all: unset;
    transition: 200ms ease-out;
}

.player-main-box {
    background-color: $bg;
    border-radius: 20px;
    border: 3px solid $blue;
}

.spotify-header-logo {
    font-size: 24px;
    color: $green;
    margin: 30px 0px 0px 300px;
}

.spotify-header-title {
    font-size: 28px;
    color: $green;
    font-weight: bold;
    margin-top: 30px;
    margin-right: 10px;
}

.spotify-header-player {
    font-size: 28px;
    color: $fg;
    font-weight: 200;
    margin-top: 30px;
}

.player-cover-box {
    background-size: 222px;
    min-height: 222px;
    min-width: 222px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px 40px 0px 0px;
}

.player-box {
    background-color: $bg;
    margin: 40px 30px 30px 50px;
}

.player-info-box {
    margin: 20px 0px 0px 20px;
    font-size: 20px;
}

.player-info-title,
.player-info-artist {
    color: $blue;
    font-weight: bold;
}

.player-info-album,
.player-info-length {
    color: $gray;
}

.player-info-button {
    background-color: $gray-alt;
    padding: 15px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.player-music-slider trough {
    background-color: $gray;
}

.player-music-slider highlight {
    background-color: $blue;
    padding: 3px;
}

.player-volume-slider trough {
    background-color: $gray;
    border-radius: 15px;
}

.player-volume-slider highlight {
    background: linear-gradient(to right, $cyan, $blue);
    border-radius: 15px;
    padding: 7px;
}

.main-player-control-box {
    background-color: $bg-alt;
    border-radius: 0px 0px 25px 25px;
    padding: 10px;
}

.player-volume-icon {
    color: $cyan;
    font-size: 24px;
    margin-left: 10px;
}

.player-volume-box {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.shuffle-btn-on {
    color: $green;
    font-size: 26px;
    font-weight: lighter;
}

.shuffle-btn-off {
    color: $gray;
    font-size: 26px;
    font-weight: lighter;
}

.previous-btn,
.next-btn {
    font-size: 30px;
    color: $fg;
}

.player-pp-btn {
    font-size: 50px;
    color: $blue;
}

.current-position {
    color: $fg;
    font-size: 20px;
    margin-left: 20px;
}

.length-of-song {
    color: $gray;
    font-size: 20px;
    margin-right: 20px;
}

.player-album-box {
    background-size: 150px;
    min-height: 150px;
    min-width: 150px;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid $cyan;
    margin: 47px 0px 0px 0px;
}

.main-album-box {
    background-color: $bg;
}

.visualizer-btn-on {
    background-color: $gray-alt;
    padding: 5px 15px 5px 10px;
    font-size: 24px;
    border-radius: 10px;
    color: $blue;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
}

.visualizer-btn-off {
    background-color: $gray-alt;
    padding: 5px 15px 5px 10px;
    font-size: 24px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
}

.equalizer-btn-on {
    background-color: $gray-alt;
    padding: 5px 14px 5px 11px;
    font-size: 24px;
    border-radius: 10px;
    color: $blue;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
}

.equalizer-btn-off {
    background-color: $gray-alt;
    padding: 5px 14px 5px 11px;
    font-size: 24px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
}

.player-buttons {
    padding-left: 45px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.player-length-box {
    padding-left: 50px;
}

.player-control-box-right {
    padding: 15px 0px 15px 40px;
}

.vz-title {
    padding: 0px 0px 0px 0px;
    font-size: 22px;
    color: $blue;
}

.cavabar {
    font-size: 24px;
    color: $lavender;
}
