include "config/input.kdl"
include "config/monitors.kdl"
include "config/styles.kdl"
include "config/execs.kdl"
include "config/envs.kdl"
include "config/prime.kdl"
include "config/rules.kdl"
include "config/binds.kdl"
include "config/misc.kdl"
