[Desktop Entry]
Type=Application
Name=Play Live Photo
Comment=Play embedded video from Live Photos
TryExec=playlive
Exec=playlive %f
Icon=multimedia-video-player
Terminal=false
Categories=AudioVideo;Video;Utility;
MimeType=image/jpeg;image/heic;image/heif;
