// Core
spawn-at-startup "nm-applet"
spawn-at-startup "gnome-keyring-daemon" "--start" "--components=secrets"
// spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
// spawn-at-startup "/usr/lib/hyprpolkitagent/hyprpolkitagent"
spawn-at-startup "/usr/lib/soteria-polkit/soteria"

// Logitech
spawn-at-startup "solaar" "-w" "hide"

// Some other heavy apps
spawn-at-startup "sunshine"
// spawn-at-startup "spotify"
// spawn-at-startup "thunderbird"

// Idle
spawn-at-startup "hypridle"

// Desktop
spawn-at-startup "quickshell"
spawn-at-startup "parra" "daemon"

// Vicinae
spawn-at-startup "vicinae" "server"
