screenshot-path "~/Pictures/Screenshots/niri_screenshot_%Y-%m-%d_%H-%M-%S.png"

debug {
    render-drm-device "/dev/dri/renderD128"
    honor-xdg-activation-with-invalid-serial
}

// gestures {
//     hot-corners {
//         off
//     }
// }
