output "eDP-1" {
    // off
    mode "2560x1600@60.002"
    scale 1.25
    background-color "#1e1e2e"
    backdrop-color "#1e1e2e"
}

output "eDP-2" {
    mode "2560x1600@60"
    scale 1.25
    background-color "#1e1e2e"
    backdrop-color "#1e1e2e"
}

output "DP-1" {
    mode "2560x1440@179.845"
    scale 1.0
    background-color "#1e1e2e"
    backdrop-color "#1e1e2e"
    // transform "90"
}